@charset "utf-8";
body {
  color: var(--white);
  background-color: var(--black);
  background: repeating-linear-gradient(
  var(--black) 0,
  var(--black) 3px,
  var(--b3) 1px,
  var(--b3) 6px
  );
  margin-top: 30px;
  overflow: auto;
}
.prime {
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 0.5em;
  background-color: var(--b1);
  background:
    repeating-linear-gradient(
	  var(--b1) 0,
	  var(--b1) 3px,
	  var(--b2) 5px,
	  var(--b2) 1px
	);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 8px 1px var(--cyan),
  0 0 0 3px rgba(0,0,0,0.8),
  0 0 0 4px rgba(255,255,255,0.6),
  0 0 0 6px rgba(0,0,0,0.8),
  0 0 0 7px rgba(255,255,255,0.6),
  0 0 6px 8px rgba(255,255,255,0.9);
  /*min-inline-size: 1024px;*/
  min-block-size: 900px;
  align-content: center;
  inline-size: 95%;
  margin-block-start: 22px;
  margin-block-end: 22px;
  position: relative;
  overflow: hidden; /*重なる部分*/
  margin: auto;
}
main {  /*概要とご案内*/
  inline-size: 100%;
}
main > section {
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 0.25em;
  background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 0 8px 3px rgba(153,255,255,0.6),
  0 0 0 4px rgba(0,0,0,0.8),
  0 0 0 5px rgba(255,255,255,0.6),
  0 0 6px 8px rgba(255,255,255,0.6);
  text-shadow: 
  1px 2px 3px var(--black),
  1px 2px 3px rgba(0,0,0,0.6);
  inline-size: 65%;
  padding: 1em;
}
main > section:nth-child(1) {   /*ご案内*/
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 5%;
  border-radius: 0 0.25em 0.25em 0;
  border-left:none;
}
main > section:nth-child(2) {   /*概要*/
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 16%;
  border-radius: 0.25em 0 0 0.25em;
}
h1 {
    color: var(--white);
    font-family: 'メイリオ';
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 
    -1px -1px 3px var(--cyan);
    position: absolute;
    inset-block-start: 2%;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    inline-size: 100%;
  }
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 0.9em;
}
nav {
  text-align: center;
  inline-size: 40%;
  inset-block-start: 48%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

nav ul li {
  list-style: none;
  block-size: 2.2em;
  margin-block-end: 0.825em;
  line-height: 2em;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2.2em ;
  
}
p {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  font-size: 1rem;
  line-height: 1.5em;
}
main p {
  text-align: justify;
  text-indent: 1em;
}
footer p {
  text-align: center;
}
ul {
  font-size: 0.9rem;
}
footer {
  min-block-size: 60px;
  margin-block-end: 22px;
}
a, button {
  text-decoration: none;
  color: var(--white);
  text-align: center;
  display: block;
  border-radius: 2.2em;
  
}
a:hover, button:hover {
  color: var(--cyan);
  text-decoration: underline;
}
nav a, button {
  display: block;
  /*padding-inline-start: 1em;*/
}
nav a:hover, button:hover {
  border-radius: 2.2em;
  background-color: rgba(255,255,255,0.2);
  text-shadow: 
  1px 2px 3px rgba(0,0,0,0.6),
  1px 2px 3px rgba(0,0,0,0.6);
  display: block;
}
nav ul li button {
    display: block;
    inline-size: 100%;
    block-size: 100%;;
    background-color: rgba(0,0,0,0.6);
    border: none;
}

small {
  font-size: 0.85rem;
}
/*************レスポンシブ対応***************/
@media screen and (max-width: 500px) {
    main > section {   
        inline-size: 100%;
    }
    main p {
        text-indent: 0em;
    }
}
/*************ポップアップ画像***************/
.modal_pop{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.modal_pop2{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.bg{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.bg2{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.modal_pop img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}
.modal_pop2 img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}